<!-- footer.component.html -->

<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">ITopics</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum dapibus nibh.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a routerLink="/" class="text-dark">Home</a></li>
                    <li><a routerLink="/courses" class="text-dark">Courses</a></li>
                    <li><a routerLink="/about" class="text-dark">About</a></li>
                    <li><a routerLink="/contact" class="text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                    <li><a href="#" class="text-dark">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        © 2024 Your Site. All rights reserved.
    </div>
</footer>
